* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 1.6rem;
  font-family: "adobe clean", sans-serif; }

ul {
  margin: 0;
  padding: 0; }

.main-container {
  max-width: 1440px;
  margin: 0 auto; }

.detail-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .detail-link .link-bottom {
    border: none;
    width: 3rem;
    height: 1.5px;
    background-color: #DD141C;
    transition: all .3s;
    text-align: center; }

.section-header {
  text-align: center;
  padding: 0 9.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .section-header h2 {
    font-size: 3.8rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 1.8rem; }
  .section-header p {
    font-weight: bold;
    padding: 0 3rem; }
  .section-header .header-bottom {
    border: none;
    height: 2.5px;
    background-color: #000;
    margin-bottom: 1.8rem; }

#main-contact {
  background: linear-gradient(to top, #144a93, #0d4b9f);
  padding: .8rem 0; }
  #main-contact__container {
    display: flex;
    justify-content: center;
    align-items: center; }
    #main-contact__container .contacts {
      display: flex;
      justify-content: center;
      align-items: center; }
      #main-contact__container .contacts:first-child {
        margin-right: auto; }
      #main-contact__container .contacts .contact-text {
        color: #fff;
        font-size: 1.2rem;
        opacity: .9; }
    #main-contact__container #phone {
      padding-left: 2.5rem; }
  #main-contact svg {
    padding-right: .8rem; }

#main-nav {
  position: relative;
  z-index: 1;
  padding: 2rem 0 0 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  #main-nav i {
    display: none; }
  #main-nav__container {
    display: flex;
    align-items: center;
    justify-content: center; }
    #main-nav__container .search {
      padding-right: 1.5rem; }
    #main-nav__container .btn {
      display: inline-block;
      background-color: #DC0D15;
      color: #fff;
      padding: 1.5rem;
      margin-left: .7rem;
      border-radius: .5rem;
      font-size: 1.4rem;
      vertical-align: middle;
      border: none;
      text-align: center;
      transition: all .3s; }
      #main-nav__container .btn:hover {
        background-color: #0D4B9F; }
  #main-nav__logo {
    margin-right: 2.5rem; }
  #main-nav__links {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: #0D4B9F; }
    #main-nav__links .link {
      padding: 3.5rem;
      display: inline-block;
      font-weight: bold;
      color: #0D4B9F;
      font-size: 1.5rem; }
  #main-nav__social {
    display: flex;
    align-items: center;
    justify-content: center; }
    #main-nav__social a {
      padding-right: 1.5rem; }

#main-header .carousel-indicators li {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  top: -3rem;
  margin: 0 .5rem;
  border: .3rem solid #fff; }

#main-header .carousel-indicators li.active {
  background-color: #EF7B00;
  box-shadow: 0px 0px 0px .1rem #0D4B9F; }

#main-header .carousel .main-container {
  position: relative; }

#main-header .carousel #banner {
  position: absolute;
  text-align: start;
  left: -.6rem;
  top: -65rem;
  padding-left: .5rem; }
  #main-header .carousel #banner > :first-child {
    padding-right: 2rem;
    margin-right: 1.3rem;
    border-right: 2px solid #DD171E; }

#main-header h2 {
  font-size: 6.7rem;
  font-weight: bold;
  margin: 3.7rem 0; }

#main-header h3 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: .7rem;
  border-bottom: 3px solid #978F88;
  max-width: 50.6rem;
  margin-bottom: -1.5rem; }

#info-boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-bottom: 8rem;
  position: relative;
  top: -2rem; }
  #info-boxes .box {
    border-radius: 1rem;
    color: #fff;
    flex-basis: 25%;
    padding: 5rem 0;
    transition: all .3s; }
    #info-boxes .box:nth-child(odd) {
      background-color: #0D4B9F; }
    #info-boxes .box:nth-child(even) {
      background-color: #EF0000; }
    #info-boxes .box h3 {
      margin-bottom: 0;
      margin-top: 1.8rem;
      color: #fff; }
    #info-boxes .box:hover {
      transform: translateY(-1rem); }

#section-edu {
  padding: 0 9rem;
  margin-bottom: 13rem; }
  #section-edu .section-header .header-bottom {
    width: 43.5rem; }
  #section-edu #section-cards .section-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-basis: 100%; }
  #section-edu #section-cards .section-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: all .3s;
    overflow: hidden;
    width: 29rem;
    height: 29rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 1.5rem;
    border-radius: .8rem; }
    #section-edu #section-cards .section-card:hover {
      transform: translateY(-1rem); }
    #section-edu #section-cards .section-card .card-gradient {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transform: translateX(-50%) translateY(-50%) scale(1.42) rotate(45deg);
      background: linear-gradient(to top left, #fff, #eeeeee); }
    #section-edu #section-cards .section-card h3 {
      margin: 2.7rem 0;
      color: #0D4B9F;
      font-weight: bold; }
    #section-edu #section-cards .section-card a {
      color: #EF7C03;
      font-size: 1.5rem;
      font-weight: bold; }
      #section-edu #section-cards .section-card a:hover ~ .border-bottom {
        width: 6rem; }
    #section-edu #section-cards .section-card .border-bottom {
      border: none;
      width: 3rem;
      height: 2.5px;
      background-color: #EF7C03;
      transition: all .3s; }

#section-detail {
  height: 115vh;
  background-image: url(../img/thai-lecture-chairs-tables.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 8rem; }
  #section-detail::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0C4797;
    opacity: .9; }
  #section-detail #detail-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 9rem; }
    #section-detail #detail-container #details {
      max-width: 50rem;
      position: absolute;
      z-index: 3;
      color: #fff;
      top: 50%;
      transform: translateY(-50%); }
      #section-detail #detail-container #details h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 8.7rem;
        line-height: 8.7rem; }
      #section-detail #detail-container #details p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.8rem;
        margin-top: 3.5rem; }
      #section-detail #detail-container #details .detail-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3.5rem;
        max-width: 8rem; }
        #section-detail #detail-container #details .detail-link a {
          color: #fff;
          font-size: 1.5rem;
          text-decoration: none; }
          #section-detail #detail-container #details .detail-link a:hover ~ .border-bottom {
            width: 7.4rem; }
        #section-detail #detail-container #details .detail-link .border-bottom {
          border: none;
          width: 3rem;
          height: 2.5px;
          background-color: #fff;
          transition: all .3s;
          text-align: center; }
    #section-detail #detail-container img {
      position: absolute;
      z-index: 3;
      bottom: 0;
      right: 0; }

#section-centers {
  padding: 0 9rem;
  margin-bottom: 13rem; }
  #section-centers .section-header .header-bottom {
    width: 120rem; }
  #section-centers .section-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 2px 7px 29px 2px;
    margin-bottom: 2.5rem;
    margin-top: 4rem;
    border-radius: 1rem;
    transition: all .3s; }
    #section-centers .section-item:hover {
      transform: translateY(-1rem); }
    #section-centers .section-item > * {
      align-self: center; }
    #section-centers .section-item > div > img {
      flex-basis: 100%; }
    #section-centers .section-item > :first-child {
      padding: 3.5rem 0 3.5rem 5rem; }
    #section-centers .section-item .item-explanation {
      padding: 3.5rem 5rem; }
      #section-centers .section-item .item-explanation h4 {
        font-size: 1.8rem;
        color: #707070;
        font-weight: bold; }
      #section-centers .section-item .item-explanation > p {
        padding-top: 2rem;
        margin-bottom: 3.8rem;
        font-size: 1.8rem;
        line-height: 2rem;
        color: #707070; }
      #section-centers .section-item .item-explanation .item-details {
        display: flex;
        align-items: center;
        flex-wrap: wrap; }
        #section-centers .section-item .item-explanation .item-details a {
          color: #DD141C;
          font-weight: bold; }
          #section-centers .section-item .item-explanation .item-details a:hover ~ .link-bottom {
            width: 8.5rem; }
        #section-centers .section-item .item-explanation .item-details :first-child {
          margin-right: auto; }
        #section-centers .section-item .item-explanation .item-details :nth-child(2) {
          padding-right: 2rem; }

#section-activities {
  background: url(../img/diversity-teenager-team-semina_j.png);
  background-position: center;
  background-size: cover;
  height: 60vh;
  position: relative; }
  #section-activities::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #990000;
    opacity: .5;
    width: 100%;
    height: 100%; }
  #section-activities .section-header {
    position: relative;
    z-index: 2;
    padding-top: 7rem;
    color: #fff; }
    #section-activities .section-header .header-bottom {
      width: 55rem;
      background-color: #fff; }
      #section-activities .section-header .header-bottom + p {
        max-width: 115rem; }
  #section-activities .activities {
    position: absolute;
    bottom: -17.5rem;
    left: 0;
    right: 0;
    max-width: 120rem;
    height: 35rem;
    z-index: 3;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.5rem; }
    #section-activities .activities .white-circle {
      position: relative;
      background-color: #fff;
      text-align: center;
      border-radius: 50%;
      padding: 5rem;
      width: 34rem;
      height: 34rem;
      transition: all .3s; }
      #section-activities .activities .white-circle:hover > .activity {
        transform: scale(1.08); }
      #section-activities .activities .white-circle:hover {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; }
      #section-activities .activities .white-circle .activity {
        position: absolute;
        background-color: #04a14f;
        padding: 5rem;
        width: 24rem;
        height: 24rem;
        border-radius: 50%;
        transition: all .3s; }
        #section-activities .activities .white-circle .activity h4 {
          color: #fff;
          font-size: 2.2rem; }

#section-references {
  margin-top: 24rem; }
  #section-references #references {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 6rem; }
  #section-references .reference {
    background-color: #F4F4F4;
    padding: 3.5rem;
    border-radius: 1.2rem; }
    #section-references .reference:hover rect {
      fill: #dc0d15; }
    #section-references .reference:hover path {
      fill: #0d4b9f; }
  #section-references .header-bottom {
    width: 50rem;
    background-color: #000; }

#section-announcements {
  margin-top: 14.5rem;
  padding-top: 6rem;
  background-color: #F4F4F4;
  padding-bottom: 10rem; }
  #section-announcements h5 {
    font-size: 2.6rem;
    font-weight: bold; }
  #section-announcements p {
    font-size: 1.8rem;
    margin: 1.8rem 0; }
  #section-announcements .section-header .header-bottom {
    width: 50rem;
    background-color: #000; }
  #section-announcements .section-header > p {
    padding-bottom: 4rem; }
  #section-announcements #announcement-container {
    display: flex;
    justify-content: space-between;
    gap: 5.5rem; }
  #section-announcements #announcements .announcement {
    background-color: #FFF;
    border-radius: 1rem;
    max-height: 19.7rem;
    margin-bottom: 1.5rem;
    transition: all .3s;
    display: flex; }
    #section-announcements #announcements .announcement:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
    #section-announcements #announcements .announcement-image {
      height: 100%; }
    #section-announcements #announcements .announcement > img {
      height: 100%; }
    #section-announcements #announcements .announcement-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 5.5rem; }
      #section-announcements #announcements .announcement-text .detail-link {
        align-items: flex-start;
        width: 9rem; }
        #section-announcements #announcements .announcement-text .detail-link a {
          color: #DD141C;
          font-weight: bold; }
          #section-announcements #announcements .announcement-text .detail-link a:hover ~ .link-bottom {
            width: 9rem; }
      #section-announcements #announcements .announcement-text .link-bottom {
        align-self: center; }
  #section-announcements #videos {
    background-color: #fff;
    border-radius: 1rem;
    max-height: 62.3rem;
    max-width: 59rem;
    transition: all .3s; }
    #section-announcements #videos:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
    #section-announcements #videos .video {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%; }
      #section-announcements #videos .video__image {
        width: 100%; }
      #section-announcements #videos .video__details {
        display: flex;
        width: 100%;
        padding: 4rem 5rem; }
        #section-announcements #videos .video__details .detail-link {
          align-items: flex-start;
          width: 9.2rem; }
          #section-announcements #videos .video__details .detail-link a {
            color: #DD141C;
            font-weight: bold; }
            #section-announcements #videos .video__details .detail-link a:hover ~ .link-bottom {
              width: 9.2rem; }
          #section-announcements #videos .video__details .detail-link .link-bottom {
            align-self: center; }

#footer-content {
  padding: 6.5rem 10rem;
  background-color: #0D4B9F;
  color: #fff;
  line-height: 2.5rem; }
  #footer-content #container-blue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #footer-content #container-blue .footer-item {
      display: flex;
      flex-direction: column; }
    #footer-content #container-blue .content-a {
      text-align: center; }
      #footer-content #container-blue .content-a p {
        margin-bottom: 0;
        padding: 3rem 0; }
      #footer-content #container-blue .content-a #footer-social {
        display: flex;
        justify-content: center; }
      #footer-content #container-blue .content-a i {
        border-radius: 50%;
        font-size: 2rem;
        margin: .6rem;
        padding: .8rem;
        align-self: center;
        justify-self: center;
        color: #0D4B9F;
        background-color: #fff;
        width: 3.8rem;
        height: 3.8rem; }
    #footer-content #container-blue .content-d {
      max-width: 35rem; }
      #footer-content #container-blue .content-d span {
        line-height: 3rem; }
        #footer-content #container-blue .content-d span ~ a {
          display: inline-block;
          width: 14rem;
          border-radius: .5rem;
          background-color: #DC0D15;
          margin: .7rem 0;
          padding: .5rem; }
          #footer-content #container-blue .content-d span ~ a i {
            color: #DC0D15; }
      #footer-content #container-blue .content-d i {
        font-size: 1.3rem;
        margin-right: 1rem;
        background-color: #fff;
        color: #0D4B9F;
        width: 2.2rem;
        height: 2.2rem;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%;
        padding: .5rem; }

#footer-copyright #container-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 5.5rem;
  font-size: 1.8rem; }

#footer-copyright p {
  margin: 0; }

#footer a {
  color: #fff; }

#footer h5 {
  font-size: 2.8rem;
  margin-bottom: 0; }
  #footer h5 ~ div {
    height: 2.5px;
    width: 20rem;
    background-color: #fff;
    margin: 1.5rem 0; }
