// common class: section-header
@media (max-width: 1200px) {
    .section-header {
        h2 {
            font-size: 3.3rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 992px) {
    .section-header {
        h2 {
            font-size: 3rem;
        }

        p {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 768px) {
    .section-header {
        h2 {
            font-size: 2.1rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}


// main contact
@media (max-width: 1400px) {
    .main-container {
        max-width: 1200px;
    }
}

@media (max-width: 1200px) {
    .main-container {
        max-width: 992px;
    }

    .contact-text {
        font-size: 1.1rem !important;
    }
}

@media (max-width: 992px) {
    .main-container {
        max-width: 768px;
    }
    
    .contact-text {
        font-size: 1rem !important;
    }
}

@media (max-width: 768px) {
    .main-container {
        padding: 0 .8rem !important;
    }
    #main-contact {
        display: none;
    }
}

// main nav
@media (max-width: 1400px) {
    #main-nav {
        .search {
            padding-right: .8rem;
        }

        .btn {
            padding: .5rem .8rem;
            margin-left: .5rem;
            font-size: 1.1rem;
        }

        &__links {
            .link {
                padding: 3rem;
                font-size: 1.4rem;
            }
        }

        &__social {
            a {
                padding-right: .8rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    #main-nav {
        .search {
            svg {
                width: 2rem;
            }
        }

        &__logo {
            margin-right: 1rem; 

            svg {
                width: 18rem;
            }
        }

        &__links {
            .link {
                padding: 2rem;
                font-size: 1.3rem;
            }
        }

        &__social {
            svg {
                width: 2rem;
            }
        }
    }
}

@media (max-width: 992px) {
    #main-nav {
        padding: .5rem 0;
        .search {
            padding-right: .5rem;

            svg {
                width: 1.6rem;
            }
        }

        &__logo {
            margin-right: .8rem;

            svg {
                width: 14rem;
            }
        }

        .btn {
            padding: .4rem .6rem;
            font-size: 1rem;
        }

        &__social {
            a {
                padding-right: .5rem;
            }

            svg {
                width: 1.6rem;
            }
        }

        &__links {
            .link {
                padding: 1.5rem;
                font-size: 1.2rem;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    #main-nav {
        &__container {
            flex-direction: column;            
        }

        &__social, .btn {
            display: none;
        }

        .search {
            border: 1px solid #0D4B9F;
            border-radius: .5rem;
            padding: .5rem 3.5rem;
            margin: 1rem 0;
            text-align: right;
            width: 99%;
        }

        &__links {
            .link {
                padding: .5rem 2.5rem;
            }
        }

        &__logo {
            margin: 0;
                svg {
                    width: 10rem;
                }
        }
    }
}

@media (max-width:576px) {
    #main-nav {
        padding: 0 1rem;

        &:has(.responsive-nav) {
            padding: 0 1rem 15rem 1rem;
        }

        &__container {
            flex-direction: row;
            justify-content: space-between;         
        }

        i {
            display: block;
            color: #0D4B9F;
        }

        &__links li, span{
            display: none;
        }

        .responsive-nav li {
            display: block;
            width: 100%;
            text-align: center;
            border-bottom: 1px dashed #0D4B9F;
            font-size: 1.7rem;
        }

        &__links.responsive-nav {
            flex-direction: column;
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .search {
            padding: .5rem;
            margin: 2rem;
            width: 100%;
        }

    }

    
}

// main-header
@media (max-width: 1400px) {
    #main-header {
        #banner {
            top: -55rem !important;
        }

        h2 {
            font-size: 6rem;
            margin: 3.5rem 0;
        }
    
        h3 {
            font-size: 2.2rem;
            max-width: 45rem;
        }
    }
}

@media (max-width: 1200px) {
    #main-header {
        #banner {
            top: -50rem !important;
            margin: 2.5rem 0;

            .group-a {
                width: 18rem;
            }
            .group-b {
                width: 10rem;
            }
        }

        h2 {
            font-size: 4.8rem;
            margin: 1.8rem 0;
        }
    
        h3 {
            font-size: 1.7rem;
            max-width: 34.5rem;
            margin-bottom: .8rem;
        }
    }
}

@media (max-width: 992px) {
    #main-header {
        #banner {
            top: -41rem !important;
            margin-top: 3.5rem;

            .group-a {
                width: 16rem;
            }
            .group-b {
                width: 8rem;
            }
        }

        .carousel-indicators {
            li{
                width:  .7rem;
                height: .7rem;
                border: .1rem solid #fff;
                top: -1.5rem;
            }
        }

        h2 {
            font-size: 3.8rem;
            margin: 1rem 0;
        }
    
        h3 {
            font-size: 1.5rem;
            max-width: 30.5rem;
            margin-bottom: .4rem;
        }
    }
}

@media (max-width: 768px) {
    #main-header {
        #banner {
            margin-top: 5rem;
            top: -32rem !important;

            .group-a {
                width: 10rem;
            }
            .group-b {
                width: 5rem;
            }
        }

        .carousel-indicators {
            li{
                width:  1rem;
                height: 1rem;
                border: .3rem solid #fff;
                top: .5rem;
            }
        }

        h2 {
            font-size: 2.2rem;
            margin: .7rem 0;
            br {
                display: none;
            }
        }
    
        h3 {
            font-size: 1rem;
            max-width: 21rem;
            margin-bottom: .3rem;
            border-bottom: 1px solid #978F88;
        }
    }
}

@media (max-width: 576px) {
    #main-header {
        #banner {
            margin-top: 5.5rem;
            top: -24rem !important;

            .group-a {
                width: 7rem;
            }
            .group-b {
                width: 3.5rem;
            }
        }

        h2 {
            font-size: 1.5rem;
            margin: .4rem 0;

            br {
                display: none;
            }
        }
    
        h3 {
            font-size: .8rem;
            max-width: 16.5rem;
            margin: 0;        
            padding: .2rem 0 .5rem 0;
            border-bottom: 1px solid #978F88;
        }
    }
}

// info boxes
@media (max-width: 1200px) {
    #info-boxes {
        gap: .8rem;
        
        .box {
            padding: 3rem 0;
    
            h3 {
                margin-top: 1.6rem;
                font-size: 1.5rem;
            }

            svg, img {
                width: 75px;
                height: 75px;
            }
        }
    }
}

@media (max-width: 992px) {
    #info-boxes {
        gap: .7rem;
        top: -1.5rem;
        
        .box {
            padding: 2.5rem 0;
    
            h3 {
                margin-top: 1.5rem;
                font-size: 1.4rem;
            }

            svg, img {
                width: 65px;
                height: 65px;
            }
        }
    }
}

@media (max-width: 768px) {
    #info-boxes {
        flex-wrap: wrap;
        gap: .5rem;
        top: .5rem;
        margin-bottom: 5rem;
        
        .box {
            padding: 2.5rem 0;
            flex-basis: 49.5%;

            h3 {
                margin-top: 1.5rem;
                font-size: 1.4rem;
            }

            svg, img {
                width: 65px;
                height: 65px;
            }

            &:hover {
                transform: none;
            }
        }
    }
}

@media (max-width: 576px) {
    #info-boxes {
        flex-direction: column;
        .box {
            padding: 2.5rem 0;
            width: 100%;

            h3 {
                margin-top: 1.5rem;
                font-size: 1.4rem;
            }

            svg, img {
                width: 65px;
                height: 65px;
            }

            &:hover {
                transform: none;
            }
        }
    }
}

// edu programs
@media(max-width: 1400px) {
    #section-edu {
        .section-card {
            width: 25rem !important;
            height: 25rem !important;

            h3 {
                font-size: 1.6rem;
            }
        }
    }
}

@media(max-width: 1200px) {
    #section-edu {

        #section-cards {
            .section-card {
                width: 21rem !important;
                height: 21rem !important;
                margin: 1rem; 
    
                h3 {
                    font-size: 1.4rem;
                    margin: 2.3rem 0;
                }
    
                a {
                    font-size: 1rem;
                }
            }
        }
        
    }
}

@media(max-width: 992px) {
    #section-edu {
        padding: 0 5rem;
        #section-cards {
                .section-row {
                    flex-wrap: wrap;
                    .section-card {
                        width: 25rem !important;
                        height: 25rem !important;
                    }
                }
            }
    }
}

@media(max-width: 768px) {
    #section-edu {
        padding: 0 3rem;
        margin-bottom: 7.5rem;

        .section-card {
            &:hover {
                transform: none !important;
            }
        }
    
        .section-header {
            padding: 0;

            .header-bottom {
                width: 30rem;
            }
        } 
    }
}

// detail banner
@media(max-width:1400px) {
    #section-detail {
        height: 100vh;

        #detail-container {
            padding: 0 6rem;

            #details {
                h3 {
                    font-size: 8.3rem;
                    line-height: 8.3rem;
                }
    
                p {
                    font-size: 1.7rem;
                    margin-top: 3.3rem;
                    max-width: 45rem;
                }
            }
            
            img {
                width: 68rem;
                right: 0rem;
            }
        }
    }
}

@media(max-width:1200px) {
    #section-detail {

        #detail-container {
            padding: 0 3rem;
            
            #details {
                h3 {
                    font-size: 7.5rem;
                    line-height: 7.5rem;
                    max-width: 43rem;
                }
    
                p {
                    font-size: 1.5rem;
                    margin-top: 3rem;
                    max-width: 30rem;
                }

                .detail-link{
                    margin-top: 3rem;
    
                    a {
                        font-size: 1.3rem;
        
                        &:hover ~ .border-bottom {
                            width: 7rem;
                        }
                    }
                }
            }
            
            img {
                width: 65rem;
            }
        }
    }
}

@media(max-width:992px) {
    #section-detail {
        height: 85vh;

        #detail-container {
            padding: 0;
            
            #details {
                h3 {
                    font-size: 6rem;
                    line-height: 6rem;
                    max-width: 34.5rem;
                }
    
                p {
                    font-size: 1.4rem;
                    margin-top: 2rem;
                    max-width: 27rem;
                }

                .detail-link{
                    margin-top: 1rem;
                    margin-left: -1.5rem;
    
                    a {
                        font-size: 1rem;
        
                        &:hover ~ .border-bottom {
                            width: 5.5rem;
                        }
                    }
                    .border-bottom {
                        width: 2rem;
                        height: 2px;
                    }
                }
            }
            
            img {
                width: 50rem;
            }
        }
    }
}

@media(max-width:768px) {
    #section-detail {
        height: 75vh;
        margin-bottom: 5rem;

        #detail-container {
            #details {
                h3 {
                    font-size: 3.5rem;
                    line-height: 3.5rem;
                    max-width: 40rem;
                }
    
                p {
                    font-size: 1.1rem;
                    max-width: 40rem;
                }

                .detail-link{
    
                    a {
                        font-size: .8rem;
        
                        &:hover ~ .border-bottom {
                            width: 4.5rem;
                        }
                    }
                    .border-bottom {
                        width: 1.5rem;
                        height: 1.5px;
                    }
                }
            }
            
            img {
                width: 28rem;
            }
        }
    }
}

@media(max-width:576px) {
    #section-detail {
        height: 70vh;

        #detail-container {
            #details {
                top: 0;
                transform: translateY(0);
                padding-top: 3rem;

                h3 {
                    font-size: 3.5rem;
                    line-height: 3.5rem;
                    max-width: 60rem;
                }
    
                p {
                    font-size: 1.2rem;
                    max-width: 100%;
                    margin-right: 1rem;
                }
            }
            
            img {
                bottom: 0;
                left: 50%;
                width: 20rem;
                transform: translateX(-50%);
            }
        }
    }
}

// edu centers
@media(max-width: 1400px) {
    #section-centers {
        .section-header {
            .header-bottom {
                width: 105rem;
            }
        }
        
        .section-item {
            :first-child img {
                width: 20rem;
            }
            
            .item-explanation {
                padding: 3rem 4rem;
                    
                h4 {
                    font-size: 1.6rem;
                }
    
                > p {
                    padding-top: 1.5rem;
                    margin-bottom: 3rem;
                    font-size: 1.6rem;
                    line-height: 1.5rem;
                }
    
                .item-details {
                    a {
                        font-size: 1.2rem;
    
                        &:hover ~ .link-bottom{
                            width: 7rem; 
                        }
                    }
                    
                    :nth-child(2){
                        padding-right: 1.7rem;
                    }

                    img {
                        width: 30%;
                    }
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    #section-centers {
        .section-header {
            padding: 0 7rem;
            .header-bottom {
                width: 80rem;
            }
        }

        .section-item {
            > :first-child {
                padding-left: 2.5rem;
            }

            :first-child img {
                width: 15rem;
            }
            
            :nth-child(3) img {
                width: 33rem;
            }

            .item-explanation {
                padding: 2rem 2.5rem;
                    
                h4 {
                    font-size: 1.4rem;
                }
    
                > p {
                    padding-top: 1.2rem;
                    margin-bottom: 2.5rem;
                    font-size: 1.4rem;
                }
    
                .item-details {
                    a {
                        font-size: 1.1rem;
    
                        &:hover ~ .link-bottom{
                            width: 6.2rem; 
                        }
                    }
                    
                    img {
                        width: 33%;
                    }
                }
            }
        }
    }
}

@media(max-width: 992px) {
    #section-centers {
        padding: 0 3rem;
        .section-header {
            padding: 0;

            .header-bottom {
                width: 70rem;
            }
        }

        .section-item {
            > :first-child {
                padding-left: 2rem;
            }

            :first-child img {
                width: 13rem;
            }
            
            :nth-child(3) img {
                width: 31.5rem;
            }

            .item-explanation {
                padding: 2rem 2rem;
                    
                h4 {
                    font-size: 1.3rem;
                }
    
                > p {
                    padding-top: 1rem;
                    margin-bottom: 2rem;
                    font-size: 1.3rem;
                }
    
                .item-details {
                    a {
                        font-size: 1rem;
    
                        &:hover ~ .link-bottom{
                            width: 5.7rem; 
                        }
                    }
                    
                    img {
                        width: 30%;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    #section-centers {
        margin-bottom: 6.5rem;

        .section-header {
            padding: 0 6.2rem;

            p {
                padding: 0 1rem;
            }
            
            .header-bottom {
                width: 50rem;
            }
        }

        .section-item {
            flex-direction: column;
            max-width: 30rem;
            margin: 0 auto 1.5rem;

            &:hover {
                transform: none;
            }
                
                > :first-child {
                    padding: 2rem 0 0 0;
                }
                
                :nth-child(3) img {
                    width: 26rem;
                    margin-bottom: 2rem;
                    border-radius: 1rem;
                }
    
                .item-explanation {
                    text-align: center;
                    padding: 2rem;
                        
                    h4 {
                        font-size: 1.2rem;
                    }
        
                    > p {
                        padding-top: 1rem;
                        margin-bottom: 1.5rem;
                        font-size: 1.2rem;
                    }
        
                    .item-details {
                        img {
                            margin: 0;
                        }

                        a {
                            font-size: 1rem;
        
                            &:hover ~ .link-bottom{
                                width: 5.7rem; 
                            }
                        }
                        
                        img {
                            width: 30%;
                            padding: 0;
                        }
                    }
                }
        }
    }
}

@media(max-width: 576px) {
    #section-centers {
        padding: 0;
        .section-header {
            padding: 0;
            .header-bottom {
                width: 30rem;
            }
        }

        .section-item {
            width: 100%;
            margin: 0 auto 1rem;
            border-radius: 4rem;
                
            > :first-child {
                padding: 1rem 0 0 0;
            }
            
            :nth-child(3) img {
                width: 100%;
                padding: 0 1rem;
                margin-bottom: 1rem;
                border-radius: 4rem;
            }

            .item-explanation {
                padding: 1.5rem 1rem;
                    
                h4 {
                    font-size: 1.1rem;
                }
    
                > p {
                    padding-top: 0.5rem;
                    margin-bottom: 1rem;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

// activities
@media(max-width: 1200px) {
    #section-activities {
        .activities {
            gap: 4rem;
            
            .white-circle {
                padding: 4rem;
                width: 28rem;
                height: 28rem;
    
                .activity {
                    padding: 4rem;
                    width: 20rem;
                    height: 20rem;
                }
            }
        }
    }
}

@media(max-width: 992px) {
    #section-activities {
        height: 80vh;

        .section-header {
            padding-top: 8rem;
        }

        .activities {
            gap: 3rem;
            
            .white-circle {
                padding: 3rem;
                width: 20rem;
                height: 20rem;
    
                .activity {
                    padding: 3rem;
                    width: 14rem;
                    height: 14rem;

                    h4 {
                        font-size: 1.5rem;
                    }

                    img {
                        width: 5rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    #section-activities {
        .section-header {
            padding: 1rem 0 0 0;
            .header-bottom {
                width: 35rem;
            }
            p {
                font-size: 1rem;
                padding: 0;
            }
        }

        .activities {
            gap: 2rem;
            
            .white-circle {
                padding: 2rem;
                width: 15rem;
                height: 15rem;
    
                .activity {
                    padding: 2rem;
                    width: 11rem;
                    height: 11rem;

                    h4 {
                        font-size: 1.2rem;
                    }

                    img {
                        width: 4.5rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 576px) {
    #section-activities {
        height: 30vh;

        .section-header {
            padding: 1rem;

            .header-bottom {
                width: 25rem;
            }
        }

        .activities {
            gap: 1rem;
            
            .white-circle {
                padding: 1rem;
                width: 10rem;
                height: 10rem;
    
                .activity {
                    padding: 1rem;
                    width: 8rem;
                    height: 8rem;

                    h4 {
                        font-size: 1rem;
                    }

                    img {
                        width: 3rem;
                    }
                }
            }
        }
    }
}

// references
@media(max-width: 1200px) {
    #section-references {
        margin-top: 20rem;

        #references {
            padding-top: 3.5rem;
        }
    }
}

@media(max-width: 992px) {
    #section-references {
        margin-top: 15rem;

        #references {
            padding-top: 2.5rem;

            .reference {
                padding: 2rem;
                border-radius: 1rem;

                svg {
                    width: 10rem;
                    height: 5rem;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    #section-references {
        margin-top: 10rem;

        .section-header {
            padding: 0;

            p {
                padding: 0;
            }
            
            .header-bottom {
                width: 30rem;
            }
        }

        #references {
            padding-top: 2.5rem;

            .reference {
                padding: 2rem;
                border-radius: 1rem;

                svg {
                    width: 6.4rem;
                    height: 2.2rem;
                }
            }
        }
    }
}

@media(max-width: 576px) {
    #section-references {
        margin-top: 8rem;

        .section-header {
            padding: 0;

        }

        #references {
            padding-top: 1rem;

            .reference {
                padding: 2rem;
                border-radius: 1rem;

                svg {
                    width: 6.4rem;
                    height: 2.2rem;
                }
            }
        }
    }
}

// announcements
@media(max-width: 1400px) {
    #section-announcements {
        h5 {
            font-size: 2rem;
        }

        p {
            font-size: 1.4rem;
            margin: 1rem 0;
        }

        #announcement-container {
            justify-content: center;
            gap: 4.5rem;
        }

        #announcements { 
            .announcement {
                &-image {
                    > img {
                        width: 30rem;
                    }
                }

                &-text {
                    padding: 0 3.5rem;

                    .detail-link {
                        width: 8rem;
                        align-items: center;

                        a {
                            font-size: 1.3rem;
                            &:hover ~ .link-bottom{
                                width: 8rem; 
                            }
                        }
                    }

                }
            }
        }

        #videos {
            max-width: 40rem;
            max-height: 51.4rem;

            .video {
                &__image {
                    width: 100%;

                    > img {
                        width: 100%;
                    }
                }

                &__details {
                    flex-direction: column;
                    padding: 2rem 4rem;
                    text-align: center;

                    img {
                        width: 9rem;
                        margin-top: 1rem;
                    }

                    .detail-link {
                        align-items: center;
                        width: auto;

                        a {
                            font-size: 1.3rem;
                            &:hover ~ .link-bottom{
                                width: 8rem; 
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 992px) {
    #section-announcements {
        .section-header { 
            .header-bottom {
                width: 40rem;
            }
            > p {
                padding-bottom: 3rem;
            }
        }

        #announcement-container {
            flex-direction: column;
            gap: 1rem;

            #announcements { 
                .announcement {
                    .detail-link {
                        width: 6.5rem;

                        a {
                            font-size: 1.1rem;
                            &:hover ~ .link-bottom{
                                width: 6.5rem; 
                            }
                        }
                    }
                }
            }

            #videos {
                max-width: none;
                max-height: none;
            }
        }
    }
}

@media(max-width: 576px) {
    #section-announcements {
        margin-top: 5rem;
        padding-top: 2rem;

        .section-header { 
            padding: 0;

            .header-bottom {
                width: 30rem;
            }
            > p {
                padding: 0 1rem 2rem;
            }
        }
        
        h5 {
            font-size: 1.4rem;
        }

        p {
            font-size: 1.1rem;
            margin: .5rem 0;
        }

        #announcement-container {
            gap: 1rem;
        }

        #announcements { 
            .announcement {
                &-image {
                    > img {
                        width: 20rem;
                    }
                }

                &-text {
                    padding: 0 2rem;

                    .detail-link {
                        width: 5rem;

                        a {
                            font-size: 1rem;
                            &:hover ~ .link-bottom{
                                width: 5rem; 
                            }
                        }
                    }

                }
            }
        }
    }
}