* {
    margin: 0;
    padding: 0 ;
    text-decoration: none !important; 
    list-style: none !important;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: "adobe clean", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 1440px; 
    margin: 0 auto;
}

.detail-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .link-bottom {
        border: none;
        width: 3rem;
        height: 1.5px;
        background-color: #DD141C;
        transition: all .3s;
        text-align: center;
    }
}

.section-header {
    text-align: center;
    padding: 0 9.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
        font-size: 3.8rem;
        font-weight: bold;
        margin: 0 auto;
        margin-bottom: 1.8rem;
    }
    p {
        font-weight: bold;
        padding: 0 3rem;
    }
    .header-bottom {
        border: none;
        height: 2.5px;
        background-color: #000;
        margin-bottom: 1.8rem;
    }
}

// main contact
#main-contact {
    background: linear-gradient(to top, rgb(20, 74, 147)
    , rgb(13, 75, 159)

    );
    padding: .8rem 0;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;

        .contacts {
            display: flex;
            justify-content: center;
            align-items: center;
            &:first-child {
                margin-right: auto;
            }

            .contact-text {
                color: #fff;
                font-size: 1.2rem;
                opacity: .9;
            }
        }

        #phone {
            padding-left: 2.5rem;
        }
        
        
    }
    svg {
        padding-right: .8rem;
    }
}

// main nav
#main-nav {
    padding: 2rem 0;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;

        .search {
            padding-right: 1.5rem;
        }

        .btn {
            display: inline-block;
            background-color: #DC0D15;
            color: #fff;
            padding: 1.5rem;
            margin-left: .7rem;
            border-radius: .5rem;
            font-size: 1.4rem;
            vertical-align: middle;
            border: none;
            text-align: center;
            transition: all .3s;

            &:hover {
                background-color: #0D4B9F;
            }
        }
    }

    &__logo {
        margin-right: 2.5rem; 
    }

    &__links {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        color: #0D4B9F;

        .link {
            padding: 3.5rem;
            display: inline-block;
            font-weight: bold;
            color: #0D4B9F;
            font-size: 1.5rem;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            padding-right: 1.5rem;
        }
    }
}

// main header
#main-header {
    .carousel {

        &-indicators {
            li{
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                position: relative;
                top: -3rem;
                margin: 0 .5rem;
                border: .3rem solid #fff;
            }
    
            li.active {
                background-color: #EF7B00;
                box-shadow: 0px 0px 0px .1rem #0D4B9F;
            }
        }

        .main-container {
            position: relative;
        }

        #banner {
            position: absolute;
            text-align: start;
            left: -.6rem;
            top: -65rem;
            padding-left: .5rem;

            > :first-child {
                padding-right: 2rem;
                margin-right: 1.3rem;
                border-right: 2px solid #DD171E;
            }
        }
    }

    h2 {
        font-size: 6.7rem;
        font-weight: bold;
        margin: 3.7rem 0;
    }

    h3 {
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: .7rem;
        border-bottom: 3px solid #978F88;
        max-width: 50.6rem;
        margin-bottom: -1.5rem;
    }
}

// info boxes
#info-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin-bottom: 8rem;
    position: relative;
    top: -2rem;
    
    .box {
        border-radius: 1rem;
        color: #fff;
        flex-basis: 100%;
        flex-wrap: wrap;
        padding: 5rem 0;
        transition: all .3s;

        &:nth-child(odd) {
        background-color: #0D4B9F;
        }
        &:nth-child(even) {
            background-color: #EF0000;
        }

        h3 {
            margin-bottom: 0;
            margin-top: 1.8rem;
            color: #fff;
    }

        &:hover {
            transform: translateY(-1rem);
        }
    
    }
}

// edu programs
#section-edu {

    padding: 0 9rem;
    margin-bottom: 13rem;

    .section-header {
        
        .header-bottom {
            width: 43.5rem;
        }
    }

    #section-cards {
        .section-row {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            flex-basis: 100%;
        }

        .section-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
            transition: all .3s;
            overflow: hidden;

            width: 29rem;
            height: 29rem;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            margin: 1.5rem;
            border-radius: .8rem;

            &:hover {
                transform: translateY(-1rem);
            }

            .card-gradient {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transform: translateX(-50%) translateY(-50%) scale(1.42)rotate(45deg);
                background: linear-gradient(   to top left, #fff, #eeeeee);
            }

            h3 {
                margin: 2.7rem 0;
                color: #0D4B9F;
                font-weight: bold;
            }

            a {
                color: #EF7C03;
                font-size: 1.5rem;
                font-weight: bold;
                
                &:hover ~ .border-bottom {
                    width: 6rem;
                }
            }

            .border-bottom {
                border: none;
                width: 3rem;
                height: 2.5px;
                background-color: #EF7C03;
                transition: all .3s;
 
            }
        }
    }
}

// detail banner
#section-detail {
    height: 115vh;
    background-image: url(../img/thai-lecture-chairs-tables.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 8rem;
    &::after {
        content: "";
        display: block; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0C4797;
        opacity: .9;
    }

    #detail-container {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0 9rem;

        #details {
            max-width: 50rem;
            position: absolute;
            z-index: 3;
            color: #fff;
            top: 50%;
            transform: translateY(-50%);

            h3 {
                font-family: 'Roboto', sans-serif;
                font-size: 8.7rem;
                line-height: 8.7rem;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-size: 1.8rem;
                margin-top: 3.5rem;
            }
            .detail-link{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 3.5rem;

                max-width: 8rem; 
                a {
                    color: #fff;
                    font-size: 1.5rem;
                    text-decoration: none;
    
                    &:hover ~ .border-bottom {
                        width: 7.4rem;
                    }
                }
                .border-bottom {
                    border: none;
                    width: 3rem;
                    height: 2.5px;
                    background-color: #fff;
                    transition: all .3s;
                    text-align: center;
                }
            }
        }
    
        img {
            position: absolute;
            z-index: 3;
            bottom: 0;
            right: 0;
        }
    }
    
}

// edu centers
#section-centers {
    padding: 0 9rem;
    margin-bottom: 8rem;
    .section-header {
        
        .header-bottom {
            width: 120rem;
        }
    }

    .section-item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-basis: 100%;

        box-shadow: rgba(100, 100, 111, 0.2) 2px 7px 29px 2px;
        margin-bottom: 2.5rem;
        margin-top: 4rem;
        border-radius: 1rem;
        
        transition: all .3s;

        &:hover {
            transform: translateY(-1rem);
        }

        > * {
            align-self: center;
        }

        > div > img {
            flex-basis: 100%;
        }

        > :first-child {
            padding: 3.5rem 0 3.5rem 5rem;
        }
        
        .item-explanation {
            padding: 3.5rem 5rem;

            h4 {
                font-size: 1.8rem;
                color: #707070;
                font-weight: bold;
            }

            > p {
                padding-top: 2rem;
                margin-bottom: 3.8rem;
                font-size: 1.8rem;
                line-height: 2rem;
                color: #707070;
            }

            .item-details {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                
                a {
                    color: #DD141C;
                    font-weight: bold;

                    &:hover ~ .link-bottom{
                        width: 8.5rem; 
                    }
                }
                
                :first-child{
                    margin-right: auto;
                }
                :nth-child(2){
                    padding-right: 2rem;
                }
            }
        }
    }
}

// activities
#section-activities {
    background: url(../img/diversity-teenager-team-semina_j.png);
    background-position: center;
    background-size: cover;
    height: 60vh;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #990000;
        opacity: .5;
        width: 100%;
        height: 100%;
    }

    .section-header {
        position: relative;
        z-index: 2;
        padding-top: 7rem;
        color: #fff;
        .header-bottom {
            width: 55rem;
            background-color: #fff;

            + p {
                max-width: 115rem;
            }
        }
    }

    .activities {
        position: absolute;
        bottom: -17.5rem;
        left: 0;
        right: 0;
        max-width: 120rem;
        height: 35rem;
        z-index: 3;
        
        margin-right: auto;
        margin-left: auto;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        gap: 4.5rem;
        
        .white-circle {
            position: relative;
            background-color: #fff;
            text-align: center;
            border-radius: 50%;
            padding: 5rem;
            width: 34rem;
            height: 34rem;
            transition: all .3s;

            &:hover > .activity {
                transform: scale(1.08);
            }

            &:hover {
                box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
            }

            .activity {
                position: absolute;
                background-color: #04a14f;
                padding: 5rem;
                width: 24rem;
                height: 24rem;
                border-radius: 50%;
                transition: all .3s;
               
                h4 {
                    color: #fff;
                    font-size: 2.2rem;
                }
            }
           
        }
        
    }

}
